.ft-dialog {
  .ft-dialog-html-body {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
  }

  .ft-dialog-icon {
    font-size: 3em;
  }

  .ft-dialog-icon-error {
    color: #f00;
  }

  .ft-dialog-icon-question {
    color: #1e90ff;
  }

  .ft-dialog-icon-warning {
    color: #daa520;
  }
}
